<!DOCTYPE html>
<html>
  <head>
    <title>Patient Monitor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script defer type="text/javascript" src="/javascripts/client.js"> </script>
  </head>
  <body>
    <center>
      <h1>Patient Monitoring System</h1>
    </center>
    <br/>
    <div id="display">
      <h3 id="notice"> Device Not Responding. Might be disconnected </h3>
      <div id="head">
        <h3 class="normal">Heart Rate:  <output name="bpm"><%= bpm %></output></h3>
        <h3 class="normal">Temperature: <output name="temp"><%= temp %></output></h3>
        <h3 class="normal">Position:    <output name="pos"><%= pos %></output></h3>
        <h3 class="normal">Alarm:    <output name="alarm"><%= alarm %></output></h3>
      </div>
    </div>
    <canvas id="temp-graph" width="200" height="50"></canvas>
    <canvas id="bpm-graph" width="200" height="50"></canvas>
  </body>
</html>
